doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title jade demo
        link(rel="stylesheet", type="text/css", href="./public/stylesheets/app.css")
        style.
            * { margin: 0; padding: 0; box-sizing: border-box; }
    body
        .row
            .small-2.columns.
                user List

            .small-10.columns
                ul#messages
                form(action="")
                    input#m(autocomplete="off")
                    button Send

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();
        $('form').submit(function(){
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function(msg){
            console.log(msg);
            $('#messages').append($('<li>').text(msg));
        });

