doctype html
html
    head
        meta(charset="utf-8")
        title Login
        link(rel="stylesheet", type="text/css", href="./public/stylesheets/app.css")
    body
        form(action=".", method="POST")
            input(type="text", name="account")
            input(type="password", name="pwd")
            input(type="submit", value="登入")
