doctype html
html(lang="en")
    head
        title Create User demo
    body
        form(action=".", method="POST")
            img(src="/img/self.png", alt="photo")
            label
                | 帳號
                input(name="account")
            label
                | 密碼
                input(type="text", name="pwd")
            label
                | 暱稱
                input(name="nickname")
            button Send

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

